.Tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--page-content-gap);
    width: 100%;
    max-width: var(--max-page-width);
    margin: 2rem;
}