.Tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--page-content-gap);
    width: 100%;
    max-width: var(--max-page-width);
    margin: 2rem;
}

.arrange-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: var(--page-content-gap);
    width: calc(var(--task-width) + var(--task-padding-inline) * 2);
}