.NewTaskForm {
    background-color: var(--content-light-background);
    padding: var(--task-padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* --- Generals --- */

.newTask-button {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* --- TOP SIDE --- */

.newTask-top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.newTask-text:focus {
    outline: none;
}