/* --- General --- */

.check-input {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.Task {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Task .main {
    width: var(--task-width);
    box-shadow: var(--box-shadow);
    padding-block: var(--task-padding-block);
    padding-inline: var(--task-padding-inline);
    border-radius: var(--border-radius);
}

.Task>.icon-wrapper {
    margin-top: var(--task-padding-block);
}

.top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

/* --- Status check Input --- */

.check-icon-wrapper:has(input:checked) {
    background: var(--green);
}

/* --- Preference Input --- */

.preference-icon-wrapper input:checked~.Icon svg {
    fill: var(--yellow);
}