@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400&display=swap');

:root {
  /* Main Colours */
  --background: #eee;
  --content-gray: #868686;
  --content-background: #d0d0d0;
  --content-light-background: #f9f9f9;
  --content-main: #6a91d9;
  --green: #6ad972;
  --red: #d96a6a;
  --blue: #6a9ed9;
  --yellow: #d9d56a;

  /* Layouts */
  --max-page-width: 700px;
  --border-radius: 5px;
  --shadow-color: #0003;
  --box-shadow: 1px 4px 4px 0 var(--shadow-color);
  --font-size: clamp(1rem, 2vw, 1.125rem);
  --task-padding-block: 10px;
  --task-padding-inline: calc(var(--task-padding-block) + 5px);
  --page-content-gap: 20px;
  --icon-size: clamp(1.25rem, 2vw, 1.56rem);
  --task-width: calc(100% - ((var(--page-content-gap) + var(--icon-size)) * 2));
}

/* --- General --- */

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  background-color: var(--background);
  font-family: "Gabarito", Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  color: var(--content-gray);
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

button,
input[type="text"] {
  background: transparent;
  border: none;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: var(--content-gray);
}

input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

/* Hide the checkbox if an Icon is used instead */
.icon-wrapper:has(.Icon) input[type="checkbox"] {
  opacity: 0;
}

/* --- NewTask & Task Wrappers --- */

.task-bottom-side {
  --animation-timing: 2s;
  display: flex;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--animation-timing) linear;
}

/* The max-height value adjusts the animation speed*/
.task-visible {
  max-height: 300px;
}

/* This avoids unnecessary delays caused by 'max-height' */
.task-bottom-side:not(.task-visible) {
  transition: max-height calc(var(--animation-timing) * 0.5) ease-out;
}

.task-bottom-side table {
  width: 100%;
}

.task-bottom-side table th {
  color: var(--content-main);
}

.task-bottom-side table tr {
  padding: 1rem;
  text-align: left;
}

.task-bottom-side table tr :is(th, td) {
  padding-top: 5px;
  padding-right: 1.5rem;
}

/* --- Date input --- */

.task-date-wrapper {
  position: relative;
  --space-left-gap: 5px;
  --space-left: calc(var(--icon-size) + var(--space-left-gap));
}

.task-date {
  padding: 2px 0 2px var(--space-left);
  background: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
}

.task-date:focus {
  outline-color: var(--content-main);
}

.task-date::-webkit-calendar-picker-indicator {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  left: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

/* --- Importance Input --- */

.importance-options {
  display: flex;
  gap: 1rem;
}

.importance-options input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.importance-options input~.Icon {
  filter: grayscale(1);
  transition: filter 150ms ease-in;
}

.importance-options input:hover~.Icon,
.importance-options input:checked~.Icon {
  filter: grayscale(0);
}

/* --- Touchscreen Devices --- */

@media (pointer: coarse) {
  .task-date {
    background: #9991;
    border-radius: 3px;
  }
}